@mixin size($w,$h)
  width: $w
  height: $h

*
  margin: 0
  padding: 0
  color: black
    

// 背景底
body
  background: #fcfcfc
  background-image: linear-gradient(rgba(32, 32, 32, 0.2) 1px, transparent 0),linear-gradient(90deg, rgba(32, 32, 32, 0.2) 1px, transparent 0)
  background-size: 30px 30px, 30px 30px
  width: 100%
  height: 100vh

// 仿電腦工具列
nav
  background: #763032
  height: 35px
  width: 100%
  top: 0
  & #toolbar
    display: inline-block
    position: relative
    width: 100%
    height: 35px
    & img
      position: absolute
      top: 2px
      width: 130px
      margin-left: 15px

    & ul
      list-style: none
      position: absolute
      top: 5px
      left: 145px
      & li
        display: inline-block
        & a
          text-decoration: none
          color: #fff
          margin-left: 12px
          font-weight: 600
          font-family: 微軟正黑體
          font-size: 14px
          letter-spacing: 1px

        &:hover
          opacity: 0.6

  #socialmedia
    display: inline-block
    position: absolute
    height: 35px
    top: 0
    left: 85%
    & a
      margin-top: 5px
      margin-left: 3px
      width: 28px

    & img
      margin-left: 5px
      margin-top: 3px
      width: 22px
      object-fit: cover
    & span
      margin-left: 25px
      margin-top: auto
      margin-bottom: auto
      font-size: 10px
      color: #fff

// 桌面圖
.bgpic 
  +size(630px,575px)
  position: relative
  margin-top: 100px
  margin-left: auto
  margin-right: auto
  

  & img.mainpic
    +size(420px,500px)
    object-fit: cover
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
  & .circle
    position: absolute
    border-radius: 50%
  & .lg-circle
    +size(170px,170px)
    background-color: #d9a78d
    // top: 80px
    right: 30px
    animation: cir1 2s infinite
  & .md-circle
    +size(60px,60px)
    background-color: #94AFCA
    left: 70px
    animation: cir2 2s infinite
  & .sm-circle
    +size(40px,40px)
    background-color: #Fbbc9b
    // bottom: 50px
    left: 90px
    animation: cir3 2s infinite
  & .flower
    +size(160px,200px)
    background-image: url("./bg-imgs/bg-flower.png")
    background-size: cover
    background-position: center center
    position: absolute
    bottom: 0
    right: 0
    animation: flower 2s infinite
    
//  背景圖動畫   
@keyframes cir1
  0%
    top: 80px
  50%
    top: 120px
  100%
    top: 80px
  
@keyframes cir2
  0%
    top: 360px
  25%
    top: 390px
    transform: scale(1)
  50%
    top: 375px
    transform: scale(0.8)
  100%
    top: 360px 
    transform: scale(1)

@keyframes cir3
  0%
    bottom: 50px
  25%
    bottom: 70px
  50%
    bottom: 60px 
  100%
    bottom: 50px

@keyframes flower
  0%
    transform: rotate(10deg)
  50%
    transform: rotate(-10deg)
  100%
    transform: rotate(10deg)

// 資料夾
#folder
  +size(85px,630px)
  position: relative
  margin-top: -650px
  left: 95%
  & .folder-container
    // outline: 2px solid #f99
    position: absolute
    top: 0
    left: 50%
    transform: translateX(-50%)
    display: grid
    grid-template-columns: repeat(1, 1fr)
    margin-top: 30px
    & a
      display: block
      text-align: center
      text-decoration: none
      margin-top: 10px
      & img
        display: block
        width: 70px

      & span
        text-decoration: none

/*--Dock--

footer
  bottom: 8%
  display: inline-block
  height: 4.4em
  left: 50%
  min-width: 35em
  padding: 0 10px
  perspective: 1000px
  position: absolute
  text-align: center
  transform: translatex(-50%)

  &:before
    background: -webkit-gradient(linear, left bottom, left top, from(#ffffff), to(#c6c6c6))
    background: linear-gradient(to top, #ffffff 0%, #c6c6c6 100%)
    bottom: 0
    content: ''
    height: 5em
    left: 0
    margin-top: 15px
    position: absolute
    right: 0
    top: 0
    transform: rotatex(45deg)
    width: 100%
    z-index: -1

  ul
    display: inline-block
    margin: 0 0.1em
    padding: 0
    transform-origin: bottom center !important

  li
    display: inline-block
    vertical-align: top
    position: relative
    transform: scale(1)
    transform-origin: bottom center
    transition: -webkit-transform 2s
    transition: transform 2s
    transition: transform 2s, -webkit-transform 2s
    // app名稱
    &:before
      background: rgba(0, 0, 0, 0.3)
      border-radius: 12px
      color: #fff
      content: attr(data-title)
      display: block
      float: left
      font-size: 0.9em
      left: 50%
      margin: 2px auto
      opacity: 0
      padding: 0 10px
      position: absolute
      text-align: center
      top: -35px
      transform: translatex(-50%)
      transform-origin: bottom center !important
      visibility: hidden
      width: auto

    &:hover:before
      opacity: 1
      top: -45px
      visibility: visible


footer img
  align-items: center
  bottom: 0
  display: flex
  justify-content: center
  margin: 0 5px
  position: relative
  transform: scale(1)
  transform-origin: bottom center !important
  transition: all 0.2s
  width: 4em

  &:hover
    margin: 0 10px
    transform: scale(1.2)