@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  color: black;
}

body {
  background: #fcfcfc;
  background-image: linear-gradient(rgba(32, 32, 32, 0.2) 1px, transparent 0), linear-gradient(90deg, rgba(32, 32, 32, 0.2) 1px, transparent 0);
  background-size: 30px 30px, 30px 30px;
  width: 100%;
  height: 100vh;
}

nav {
  background: #763032;
  height: 35px;
  width: 100%;
  top: 0;
}

nav #toolbar {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 35px;
}

nav #toolbar img {
  position: absolute;
  top: 2px;
  width: 130px;
  margin-left: 15px;
}

nav #toolbar ul {
  list-style: none;
  position: absolute;
  top: 5px;
  left: 145px;
}

nav #toolbar ul li {
  display: inline-block;
}

nav #toolbar ul li a {
  text-decoration: none;
  color: #fff;
  margin-left: 12px;
  font-weight: 600;
  font-family: 微軟正黑體;
  font-size: 14px;
  letter-spacing: 1px;
}

nav #toolbar ul li:hover {
  opacity: 0.6;
}

nav #socialmedia {
  display: inline-block;
  position: absolute;
  height: 35px;
  top: 0;
  left: 85%;
}

nav #socialmedia a {
  margin-top: 5px;
  margin-left: 3px;
  width: 28px;
}

nav #socialmedia img {
  margin-left: 5px;
  margin-top: 3px;
  width: 22px;
  -o-object-fit: cover;
     object-fit: cover;
}

nav #socialmedia span {
  margin-left: 25px;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 10px;
  color: #fff;
}

.bgpic {
  width: 630px;
  height: 575px;
  position: relative;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.bgpic img.mainpic {
  width: 420px;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.bgpic .circle {
  position: absolute;
  border-radius: 50%;
}

.bgpic .lg-circle {
  width: 170px;
  height: 170px;
  background-color: #d9a78d;
  right: 30px;
  -webkit-animation: cir1 2s infinite;
          animation: cir1 2s infinite;
}

.bgpic .md-circle {
  width: 60px;
  height: 60px;
  background-color: #94AFCA;
  left: 70px;
  -webkit-animation: cir2 2s infinite;
          animation: cir2 2s infinite;
}

.bgpic .sm-circle {
  width: 40px;
  height: 40px;
  background-color: #Fbbc9b;
  left: 90px;
  -webkit-animation: cir3 2s infinite;
          animation: cir3 2s infinite;
}

.bgpic .flower {
  width: 160px;
  height: 200px;
  background-image: url("./bg-imgs/bg-flower.png");
  background-size: cover;
  background-position: center center;
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-animation: flower 2s infinite;
          animation: flower 2s infinite;
}

@-webkit-keyframes cir1 {
  0% {
    top: 80px;
  }
  50% {
    top: 120px;
  }
  100% {
    top: 80px;
  }
}

@keyframes cir1 {
  0% {
    top: 80px;
  }
  50% {
    top: 120px;
  }
  100% {
    top: 80px;
  }
}

@-webkit-keyframes cir2 {
  0% {
    top: 360px;
  }
  25% {
    top: 390px;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    top: 375px;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    top: 360px;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes cir2 {
  0% {
    top: 360px;
  }
  25% {
    top: 390px;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    top: 375px;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    top: 360px;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes cir3 {
  0% {
    bottom: 50px;
  }
  25% {
    bottom: 70px;
  }
  50% {
    bottom: 60px;
  }
  100% {
    bottom: 50px;
  }
}

@keyframes cir3 {
  0% {
    bottom: 50px;
  }
  25% {
    bottom: 70px;
  }
  50% {
    bottom: 60px;
  }
  100% {
    bottom: 50px;
  }
}

@-webkit-keyframes flower {
  0% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  50% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

@keyframes flower {
  0% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  50% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

#folder {
  width: 85px;
  height: 630px;
  position: relative;
  margin-top: -650px;
  left: 95%;
}

#folder .folder-container {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  margin-top: 30px;
}

#folder .folder-container a {
  display: block;
  text-align: center;
  text-decoration: none;
  margin-top: 10px;
}

#folder .folder-container a img {
  display: block;
  width: 70px;
}

#folder .folder-container a span {
  text-decoration: none;
}

/*--Dock-- */
footer {
  bottom: 8%;
  display: inline-block;
  height: 4.4em;
  left: 50%;
  min-width: 35em;
  padding: 0 10px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  position: absolute;
  text-align: center;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
}

footer:before {
  background: -webkit-gradient(linear, left bottom, left top, from(#ffffff), to(#c6c6c6));
  background: linear-gradient(to top, #ffffff 0%, #c6c6c6 100%);
  bottom: 0;
  content: '';
  height: 5em;
  left: 0;
  margin-top: 15px;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: rotatex(45deg);
          transform: rotatex(45deg);
  width: 100%;
  z-index: -1;
}

footer ul {
  display: inline-block;
  margin: 0 0.1em;
  padding: 0;
  -webkit-transform-origin: bottom center !important;
          transform-origin: bottom center !important;
}

footer li {
  display: inline-block;
  vertical-align: top;
  position: relative;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  transition: -webkit-transform 2s;
  -webkit-transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
}

footer li:before {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  color: #fff;
  content: attr(data-title);
  display: block;
  float: left;
  font-size: 0.9em;
  left: 50%;
  margin: 2px auto;
  opacity: 0;
  padding: 0 10px;
  position: absolute;
  text-align: center;
  top: -35px;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
  -webkit-transform-origin: bottom center !important;
          transform-origin: bottom center !important;
  visibility: hidden;
  width: auto;
}

footer li:hover:before {
  opacity: 1;
  top: -45px;
  visibility: visible;
}

footer img {
  -webkit-box-reflect: below -5px -webkit-gradient(linear, left bottom, left top, color-stop(0%, rgba(230, 230, 230, 0.2)), color-stop(100%, rgba(255, 255, 255, 0)));
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 5px;
  position: relative;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform-origin: bottom center !important;
          transform-origin: bottom center !important;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  width: 4em;
}

footer img:hover {
  margin: 0 10px;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
/*# sourceMappingURL=style.css.map */