* {
  margin: 0;
  padding: 0;
  color: black;
}

/*PRELOADER*/
#loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 1;
  overflow: visible;
  background: #fff url("loader.gif") no-repeat center center;
  background-size: 20%;
  text-align: center;
}

body {
  background: #fcfcfc;
  background-image: linear-gradient(rgba(32, 32, 32, 0.2) 1px, transparent 0), linear-gradient(90deg, rgba(32, 32, 32, 0.2) 1px, transparent 0);
  background-size: 30px 30px, 30px 30px;
  width: 100%;
  height: 100vh;
}

.logo {
  position: fixed;
  top: 8px;
  left: 10px;
}

.logo img {
  position: absolute;
  top: -2px;
  width: 120px;
}

nav {
  padding: 8px;
  background-color: #763032;
  height: 25px;
  z-index: 2;
}

nav ul {
  position: fixed;
  top: 8px;
  left: 160px;
}

nav ul li {
  display: inline-block;
  float: left;
}

nav ul li a {
  display: inline-block;
  outline: none;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  letter-spacing: 1.2px;
  font-weight: 700;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

nav ul li a:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  color: #bee4ff;
}

nav ul li:not(:first-child) {
  margin-left: 30px;
}

nav ul li:last-child {
  margin-right: 15px;
}

nav .time {
  position: fixed;
  top: 10px;
  right: 50px;
}

nav .time span {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #fff;
}

@media screen and (max-width: 864px) {
  nav {
    height: 25px;
  }
  .nav-wrapper {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #fcfcfc;
    background-image: linear-gradient(rgba(32, 32, 32, 0.2) 1px, transparent 0), linear-gradient(90deg, rgba(32, 32, 32, 0.2) 1px, transparent 0);
    background-size: 30px 30px, 30px 30px;
    opacity: 0;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .nav-wrapper ul {
    position: fixed;
    width: 100%;
    top: 40%;
    left: 0px;
    -webkit-transform: translateY(-40%);
            transform: translateY(-40%);
  }
  .nav-wrapper ul li {
    display: block;
    float: none;
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
  }
  .nav-wrapper ul li:nth-child(1) a {
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
  }
  .nav-wrapper ul li:nth-child(2) a {
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
  }
  .nav-wrapper ul li:nth-child(3) a {
    -webkit-transition-delay: 0.4s;
            transition-delay: 0.4s;
  }
  .nav-wrapper ul li:nth-child(4) a {
    -webkit-transition-delay: 0.5s;
            transition-delay: 0.5s;
  }
  .nav-wrapper ul li:nth-child(5) a {
    -webkit-transition-delay: 0.6s;
            transition-delay: 0.6s;
  }
  .nav-wrapper ul li:not(:first-child) {
    margin-left: 0;
  }
  .nav-wrapper ul li a {
    padding: 10px 24px;
    opacity: 0;
    color: #763032;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 1.2px;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .nav-btn {
    position: fixed;
    right: 15px;
    top: -2px;
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 9999;
  }
  .nav-btn i {
    display: block;
    width: 20px;
    height: 2px;
    background: #fff;
    border-radius: 2px;
    margin-left: 14px;
  }
  .nav-btn i:nth-child(1) {
    margin-top: 16px;
  }
  .nav-btn i:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
  }
  .nav-btn i:nth-child(3) {
    margin-top: 4px;
  }
}

#nav:checked + .nav-btn {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav:checked + .nav-btn i {
  background: #763032;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
}

#nav:checked + .nav-btn i:nth-child(1) {
  -webkit-transform: translateY(6px) rotate(180deg);
          transform: translateY(6px) rotate(180deg);
}

#nav:checked + .nav-btn i:nth-child(2) {
  opacity: 0;
}

#nav:checked + .nav-btn i:nth-child(3) {
  -webkit-transform: translateY(-6px) rotate(90deg);
          transform: translateY(-6px) rotate(90deg);
}

#nav:checked ~ .nav-wrapper {
  z-index: 9990;
  opacity: 1;
}

#nav:checked ~ .nav-wrapper ul li a {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.hidden {
  display: none;
}

.bgpic {
  width: 630px;
  height: 575px;
  position: relative;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.bgpic img.mainpic {
  width: 420px;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.bgpic .circle {
  position: absolute;
  border-radius: 50%;
}

.bgpic .lg-circle {
  width: 170px;
  height: 170px;
  background-color: #d9a78d;
  right: 30px;
  -webkit-animation: cir1 2s infinite;
          animation: cir1 2s infinite;
}

.bgpic .md-circle {
  width: 60px;
  height: 60px;
  background-color: #94AFCA;
  left: 70px;
  -webkit-animation: cir2 2s infinite;
          animation: cir2 2s infinite;
}

.bgpic .sm-circle {
  width: 40px;
  height: 40px;
  background-color: #Fbbc9b;
  left: 90px;
  -webkit-animation: cir3 2s infinite;
          animation: cir3 2s infinite;
}

.bgpic .flower {
  width: 160px;
  height: 200px;
  background-image: url("./bg-imgs/bg-flower.png");
  background-size: cover;
  background-position: center center;
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-animation: flower 2s infinite;
          animation: flower 2s infinite;
}

@-webkit-keyframes cir1 {
  0% {
    top: 80px;
  }
  50% {
    top: 120px;
  }
  100% {
    top: 80px;
  }
}

@keyframes cir1 {
  0% {
    top: 80px;
  }
  50% {
    top: 120px;
  }
  100% {
    top: 80px;
  }
}

@-webkit-keyframes cir2 {
  0% {
    top: 360px;
  }
  25% {
    top: 390px;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    top: 375px;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    top: 360px;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes cir2 {
  0% {
    top: 360px;
  }
  25% {
    top: 390px;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    top: 375px;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    top: 360px;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes cir3 {
  0% {
    bottom: 50px;
  }
  25% {
    bottom: 70px;
  }
  50% {
    bottom: 60px;
  }
  100% {
    bottom: 50px;
  }
}

@keyframes cir3 {
  0% {
    bottom: 50px;
  }
  25% {
    bottom: 70px;
  }
  50% {
    bottom: 60px;
  }
  100% {
    bottom: 50px;
  }
}

@-webkit-keyframes flower {
  0% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  50% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

@keyframes flower {
  0% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  50% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

#folder {
  width: 85px;
  height: 630px;
  position: relative;
  margin-top: -650px;
  left: 95%;
}

#folder .folder-container {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  margin-top: 30px;
}

#folder .folder-container a {
  display: block;
  text-align: center;
  text-decoration: none;
  margin-top: 10px;
}

#folder .folder-container a img {
  display: block;
  width: 70px;
}

#folder .folder-container a span {
  text-decoration: none;
}

/*--Dock-- */
footer {
  bottom: 8%;
  display: inline-block;
  height: 4.4em;
  left: 50%;
  min-width: 35em;
  padding: 0 10px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  position: absolute;
  text-align: center;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
}

footer:before {
  background: rgba(164, 164, 164, 0.7);
  bottom: 0;
  content: '';
  height: 5em;
  left: 0;
  margin-top: 15px;
  position: absolute;
  border-radius: 20px;
  right: 0;
  top: 10;
  width: 100%;
  z-index: -1;
}

footer ul {
  display: inline-block;
  margin: 0 0.1em;
  padding: 0;
  -webkit-transform-origin: bottom center !important;
          transform-origin: bottom center !important;
}

footer li {
  display: inline-block;
  vertical-align: top;
  position: relative;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  transition: -webkit-transform 2s;
  -webkit-transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
}

footer li:before {
  background: rgba(148, 148, 148, 0.3);
  border-radius: 12px;
  color: #000;
  content: attr(data-title);
  display: block;
  float: left;
  font-size: 0.9em;
  left: 50%;
  margin: 2px auto;
  opacity: 0;
  padding: 0 10px;
  position: absolute;
  text-align: center;
  top: -35px;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
  -webkit-transform-origin: bottom center !important;
          transform-origin: bottom center !important;
  visibility: hidden;
  width: auto;
}

footer li:hover:before {
  opacity: 1;
  top: -45px;
  visibility: visible;
}

footer img {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 5px;
  position: relative;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform-origin: bottom center !important;
          transform-origin: bottom center !important;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  width: 4em;
}

footer img:hover {
  margin: 0 10px;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.inner-width {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.gallery-section h1 {
  margin-top: 50px;
  text-align: center;
  text-transform: uppercase;
  color: #22315f;
}

.border {
  width: 180px;
  height: 4px;
  background: #22315f;
  margin: 30px auto;
}

.gallery-section .gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery-section .image {
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
  overflow: hidden;
  cursor: pointer;
}

.gallery-section .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.gallery-section .image:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.footer {
  text-align: center;
  margin-bottom: 20px;
}

.footer p {
  font-size: 12px;
  color: #22315f;
}

@media screen and (max-width: 1050px) {
  .gallery-section .image {
    -webkit-box-flex: 33.33%;
        -ms-flex: 33.33%;
            flex: 33.33%;
  }
}

@media screen and (max-width: 768px) {
  .gallery-section .image {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }
}

@media screen and (max-width: 480px) {
  .gallery-section .image {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
}
/*# sourceMappingURL=style.css.map */