@mixin size($w,$h)
  width: $w
  height: $h

*
    margin: 0
    padding: 0
    color: black
    

// 背景底
body
    background: #efefef
    background-image: linear-gradient(rgba(32, 32, 32, 0.2) 1px, transparent 0),linear-gradient(90deg, rgba(32, 32, 32, 0.2) 1px, transparent 0)
    background-size: 30px 30px, 30px 30px
    width: 100%
    height: 100vh

// 仿電腦工具列
nav
    background: #763032
    height: 35px
    width: 100%
    top: 0
    & #toolbar
        display: inline-block
        position: relative
        width: 100%
        height: 35px
        & img
            position: absolute
            top: 2px
            width: 130px
            margin-left: 15px

        & ul
            list-style: none
            position: absolute
            top: 5px
            left: 145px
            & li
                display: inline-block
                & a
                    text-decoration: none
                    color: #fff
                    margin-left: 12px
                    font-weight: 600
                    font-family: 微軟正黑體
                    font-size: 14px
                    letter-spacing: 1px

                &:hover
                    opacity: 0.6

    #socialmedia
        display: inline-block
        position: absolute
        height: 35px
        top: 0
        left: 85%
        & a
            margin-top: 5px
            margin-left: 3px
            width: 28px

        & img
            margin-left: 5px
            margin-top: 3px
            width: 22px
            object-fit: cover

// 桌面圖
.bgpic 
  +size(630px,575px)
  position: relative
  margin-top: 100px
  margin-left: auto
  margin-right: auto
  

  & img.mainpic
    +size(420px,500px)
    object-fit: cover
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
  & .circle
    position: absolute
    border-radius: 50%
  & .lg-circle
    +size(170px,170px)
    background-color: #d9a78d
    // top: 80px
    right: 30px
    animation: cir1 2s infinite
  & .md-circle
    +size(60px,60px)
    background-color: #94AFCA
    left: 70px
    animation: cir2 2s infinite
  & .sm-circle
    +size(40px,40px)
    background-color: #Fbbc9b
    // bottom: 50px
    left: 90px
    animation: cir3 2s infinite
  & .flower
    +size(160px,200px)
    background-image: url("./bg-imgs/bg-flower.png")
    background-size: cover
    background-position: center center
    position: absolute
    bottom: 0
    right: 0
    animation: flower 2s infinite
    
//  背景圖動畫   
@keyframes cir1
  0%
    top: 80px
  50%
    top: 120px
  100%
    top: 80px
  
@keyframes cir2
  0%
    top: 360px
  25%
    top: 390px
    transform: scale(1)
  50%
    top: 375px
    transform: scale(0.8)
  100%
    top: 360px 
    transform: scale(1)

@keyframes cir3
  0%
    bottom: 50px
  25%
    bottom: 70px
  50%
    bottom: 60px 
  100%
    bottom: 50px

@keyframes flower
  0%
    transform: rotate(10deg)
  50%
    transform: rotate(-10deg)
  100%
    transform: rotate(10deg)

// 放app的層架
#shelves
    position: absolute
    bottom: 40px
    left: 0
    right: 0
    text-align: center
    & img
        width: 850px
// dock
.dock
    position: absolute
    bottom: 90px
    left: 0
    right: 0
    text-align: center
    background-color: transparent
    z-index: 0
  
.dock li:nth-last-child(n+2)
    display: inline-block
    position: relative
    z-index: 1 
    width: 70px
    height: 70px
    transition: width 0.5s,height 0.5s
  
// 滑入圖片時放大  
.dock li:nth-last-child(n+2):hover
    width: 120px
    height: 120px
  
.dock li:nth-child(1):hover ~ .last img:nth-child(1),
.dock li:nth-child(2):hover ~ .last img:nth-child(2),
.dock li:nth-child(3):hover ~ .last img:nth-child(3),
.dock li:nth-child(4):hover ~ .last img:nth-child(4),
.dock li:nth-child(5):hover ~ .last img:nth-child(5),
.dock li:nth-child(6):hover ~ .last img:nth-child(6),
.dock li:nth-child(7):hover ~ .last img:nth-child(7)
    width: 120px
    height: 120px
  
// 滑入第一張圖時第二張放大
.dock li:nth-child(1):hover ~ .last img:nth-child(2),
.dock li:nth-child(7):hover ~ .last img:nth-child(6),
.dock li:nth-child(2):hover ~ .last img:nth-child(1),
.dock li:nth-child(2):hover ~ .last img:nth-child(3),
.dock li:nth-child(3):hover ~ .last img:nth-child(2),
.dock li:nth-child(3):hover ~ .last img:nth-child(4),
.dock li:nth-child(4):hover ~ .last img:nth-child(3),
.dock li:nth-child(4):hover ~ .last img:nth-child(5),
.dock li:nth-child(5):hover ~ .last img:nth-child(4),
.dock li:nth-child(5):hover ~ .last img:nth-child(6),
.dock li:nth-child(6):hover ~ .last img:nth-child(5),
.dock li:nth-child(6):hover ~ .last img:nth-child(7)
    width: 95px
    height: 95px  

.dock li
    margin-right: 15px
  
.dock li:hover .tooltip 
    opacity: 1
  
.dock li a
    display: block
    width: 100%
    height: 100%
    // background-color: rgba(255,0,0,0.5)
    border-radius: 50%
  
/* Tooltips */
.dock li .tooltip 
    opacity: 0
    display: grid
    grid-template-columns: repeat(7, 1fr) 
    position: absolute
    top: -45px
    left: 50%
    transform: translateX(-50%)
    text-align: center
    padding: 0.3rem 0.9rem
    border-radius: 12px
    background-color: #dbdbdb
    font-size: 0.8rem
    font-weight: bold
    pointer-events: none
    text-transform: uppercase
    transition: all 0.3s ease
    z-index: 2
    &:after 
        content: ""
        position: absolute
        top: 100%
        left: 50%
        margin-left: -5px
        border-width: 5px
        border-style: solid
        border-color: #dbdbdb transparent transparent transparent
.dock .last
    position: absolute
    text-align: center
    bottom: 0
    right: 0
    left: 0
    text-align: center

.dock img
    width: 70px
    height: 70px
    margin-right: 15px
    transition: width 0.5s,height 0.5s
// 資料夾
#folder
    +size(85px,630px)
    position: relative
    margin-top: -650px
    left: 95%
    & .folder-container
        // outline: 2px solid #f99
        position: absolute
        top: 0
        left: 50%
        transform: translateX(-50%)
        display: grid
        grid-template-columns: repeat(1, 1fr)
        margin-top: 30px
        & a
            display: block
            text-align: center
            text-decoration: none
            margin-top: 10px
            & img
                display: block
                width: 70px

            & span
                text-decoration: none

// 版權聲明
footer
    position: absolute
    bottom: 5px
    left: 50%
    transform: translateX(-50%)
    & p
        width: 100%
